#support {
  padding: 30px;
  background-color: #efebe9;
}

.submit-button {
  background-color: #4e342e;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.submit-button:hover {
  background-color: #4e342ee7;
}

@media (max-width: 768px) {
  .submit-button {
    width: 100%;
  }
}
