@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #4e342e;
  background-color: #ffffff;
}
